<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css"
      rel="stylesheet">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
   <!-- <link rel="stylesheet" href="assets/css/style.css"> -->
   <link rel="stylesheet" href="/style/cssprofilr.css">
   <title>Document</title>
</head>

<body>
   <div class="container rounded bg-white mt-5 mb-5 col-md-6">
      <div class="row">
         <div class="col-md-12 border-right">
            <div class="p-5 py-5">
               <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="text-right">Profile Settings</h4>
                  <h5>
                   views profile :  <%= views %>
                  </h5>
               </div>
               <form action="/profile" method="post">
                  <span class=" text-danger text-center">
                     <%= msg %>
                  </span>
                  <div class="row ml-4">
                     <!-- disabled for input -->

                     <div class="col-md-10"><label class="labels">user Name</label>
                        <input name="userName" disabled type="text" class="form-control" placeholder="userName"
                           value="<%= user.userName %>" id="name" required>
                     </div>
                     <div class="col-md-10"><label class="labels">first Name</label>
                        <input name="firstName" disabled type="text" class="form-control" placeholder="first name"
                           value="<%= user.firstName %>" id="name" required>
                     </div>
                     <div class="col-md-10"><label class="labels">last Name</label>
                        <input name="lastName" disabled type="text" required class="form-control"
                           value="<%= user.lastName %>" placeholder="last Name" name="lastName">
                     </div>
                  </div>
                  <div class="row ml-4">
                     <div class="col-md-5"><label class="labels">gender</label>
                        <input name="gender" disabled type="text" class="form-control" placeholder="gender"
                           name="gender" value="<%= user.gender %>" required>
                     </div>
                     <div class="col-md-5"><label class="labels">phoneNumber</label>
                        <input name="phoneNumber" disabled type="text" class="form-control" placeholder="phoneNumber"
                           value="<%= user.phoneNumber %>" required>
                     </div>
                  </div>
                  <div class="row ml-4  p-2">
                     <div class="m-2"><button class="btn btn-primary profile-button" type="button"
                           id="editBtn">edit</button></div>
                     <div class="m-2"><button class="btn btn-primary profile-button d-none" type="submit"
                           id="saveBtn">save</button></div>
                     <div class="m-2 "><a href="/profile/logout" class="btn btn-danger profile-button"
                           type="button">logout</a></div>
                     <div class="m-2 danger">
                        <form action="/profile/delete" method="delete" class="" >
                           <button class="btn btn-danger profile-button" type="submit"
                              id="deletBtn">delete</button>
                        </form>
                     </div>
                  </div>
               </form>
               <a href="/resetPassword">change password</a>
            </div>
         </div>
      </div>
   </div>
   </div>
   </div>
   <!-- /////////////////////////////////////////////////////////////////////////////////////// -->
   <div>
      <input type="checkbox" class="checkbox" id="chk" />
      <label class="label" for="chk">
         <i class="fas fa-moon"></i>
         <i class="fas fa-sun"></i>
         <div class="ball"></div>
      </label>
   </div>

   <!-- SOCIAL PANEL HTML -->
   <div class="social-panel-container">
      <div class="social-panel">
         <p>Created with <i class="fa fa-heart"></i> by
            <a target="_blank" href="https://florin-pop.com">Florin Pop</a>
         </p>
         <button class="close-btn"><i class="fas fa-times"></i></button>
      </div>
   </div>
   <script src="/javascript/profile.js"></script>
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
   <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
   <!-- <script src="assets/js/script.js"></script> -->
</body>

</html>